.m-channel--badges{
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  margin: 0;

  li{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    //padding: 16px;
    cursor: pointer;
  }

  i{
    font-size:28px;
    padding:8px;

    &.admin__badge {
      color: #4caf50;
    }
  }

}

.m-channel--badges-activity{
  padding: 0;
  margin: 0;
  margin-left: 4px;
  display: inline-flex;
  vertical-align: middle;

  .m-channel--badges i{
    font-size: 16px !important;
    padding: 0px;
  }
}
