minds-newsfeed-poster > .mdl-card {
  overflow: visible;
}

m-hashtags-selector, .m-hashtags-selector {
  display: inline-block;
}

.m-hashtags-selector {
  font-family: 'Roboto', sans-serif;

  .m-hashtags-selector--toggle {
    &.m-hashtags-selector--toggle-enabled {
      color: #4690D6;
    }
  }

  &.m-hashtags-selector--align-left {
    .m-dropdown--list {
      right: auto;
      left: 0;
    }
  }

  .m-hashtags-selector__Icon {
    font-size: 1.2em;
  }

  .m-dropdown--list {
    width: 250px;

    .m-btn--with-icon i {
      margin-right: 0px;
    }

    .m-dropdown--list--item {
      flex-wrap: wrap;
      cursor: pointer;

      b {
        flex-basis: 100%;
        text-transform: uppercase;
        letter-spacing: 0.25px;
        font-family: 'Roboto';
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        font-size: 11px;
      }

      p {
        margin: 0;
        font-size: 9px;
        line-height: 1;
      }

      m-form-tags-input {
        display: inline-block;
        padding: 0;
        color: #555;
        border: 0;
        flex-grow: 1;

        .m-form-tags-input-tags-tag {
          display: flex;
          align-items: center;
          flex-direction: row;

          opacity: 1;
          text-overflow: ellipsis;
          padding: 4px 0;
          border-bottom: 1px solid #ececec;
          border-radius: 0;
          text-align: left;

          .m-form-tags-input-tags--check {
            font-size: 18px;
            vertical-align: middle;
            color: #eee;
            margin-right: 4px;
          }

          .m-form-tags-input-tags--check--visible {
            display: inline-block;
          }

          i.material-icons {
            font-size: 11px;
          }
        }

        input:not([type=checkbox]) {
          appearance: none;
          border: none;
          border-radius: 0;
          font-family: inherit;
          font-size: inherit;
          color: inherit;
          width: 2em;
          //min-width: 2em;
          outline: none;
          padding: 6px;
          min-width: 132px;

          margin: 0;
          margin-left: -6px;
          font-size: 11px;
          padding: 0;
          font-weight: 600;
          text-transform: uppercase;
        }

        > .material-icons {
          font-size: 20px;
        }
      }
      // specifically the "done" button
      & > i {
        margin-left: 8px;
      }
      i {
        font-size: 18px;
        cursor: pointer;
      }

      span {
        margin-right: 8px;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 11px;
      }
    }
  }
}
