<div class="m-marketing m-mobile--marketing">

  <div class="m-marketing--hero">
    <div class="m-marketing--hero--video">
      <img [src]="minds.cdn_assets_url + 'assets/photos/circles.png'">
    </div>

    <div class="m-marketing--hero--inner">

      <div class="m-marketing--hero--slogans">

        <h2>
          Minds Android App
        </h2>

      </div>

      <div class="m-marketing--hero--actions">
        <i class="material-icons m-mobile__giantDroid">android</i>
      </div>

    </div>

  </div>

  <section class="m-marketing--section" style="background-color: #fff; padding-bottom: 0; padding-top: 0">

    <div class="m-marketing--section--subsection m-marketing--section--subsection--first">
      <div class="m-marketing--section--subsection-container">
        <div class="m-marketing--section--subsection-left m-marketing--section--subsection-text">
          <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col m-mobile--marketing--spinner" *ngIf="inProgress">
              <div class="mdl-spinner mdl-js-spinner is-active"></div>
            </div>

            <div class="mdl-cell mdl-cell--12-col" *ngIf="error">
              <p class="m-mobile--marketing--error">Oops! There was an issue retrieving mobile releases: <i>{{error}}</i></p>
            </div>

            <div class="mdl-cell mdl-cell--12-col" *ngFor="let release of releases">
              <h2>
                <ng-container *ngIf="release.latest">Latest -</ng-container>
                <ng-container *ngIf="release.unstable">Canary -</ng-container>
                {{release.version}}
              </h2>

              <p>Released: {{release.timestamp * 1000 | date:'longDate'}} -
                <a [href]="release.href" target="_blank">
                  Download
                </a>
              </p>

              <p class="m-marketing-show-mobile">You need to tap and hold the download link</p>

              <p *ngIf="release.unstable" class="m-mobile--marketing--canary-note">
                Disclaimer: This is a Canary version of the app targeted to test users. It might contain bugs or
                unfinished features. Use at your own risk.
              </p>

              <a *ngIf="release.sourceHref" [href]="release.sourceHref" target="_blank" class="m-mobile--marketing--codelink">
                Check out the #changelog:
              </a>

              <ul class="m-mobile--marketing--list" *ngIf="release.changelog">
                <li *ngFor="let entry of release.changelog">{{entry}}</li>
              </ul>

              <ul class="m-mobile--marketing--list m-mobile--marketing--list--hashes" *ngIf="release.hashes">
                <li *ngFor="let hash of release.hashes">{{ hash.type | uppercase }}: {{hash.value}}</li>
              </ul>
            </div>
          </div>

        </div>
        <div class="m-marketing--section--subsection-right m-marketing--section--subsection-image"
             style="text-align: center">
          <img [src]="minds.cdn_assets_url + 'assets/logos/bulb.jpg'"/>
        </div>
      </div>
    </div>

  </section>


</div>

<m-footer></m-footer>
